.div{
    
    width: 400px;
    height: 400px;
}
.div1{
    background-color: red;
    margin: 10px;
    padding: 20px;
    float: left;
}
.div2{
    background-color: green;
    float: left;
    color: white;
    padding: 20px;
    margin: 10px 10px 10px 0; /* top right bottom left , margin-top*/
}
.div3{
    background-color: blue;
    float: left;
    color: brown;
    padding: 20px;
}
.div4{
    float: left;
    border: 2px black solid; /* size, style, color */
    float: right;
    padding: 20px;
    margin-top: 10px;
}
.box{
    clear: both;
}
.inner-box{
    padding: 20px;
}